<% layout('/layout/page')%>
<% block('title', 'creation')%>

<div class="container">
    <p>Create your own transformer!</p>

    <form id="publish" class="form-inline" action="/create">
        <ul>
            <li>Owner (enter your name): <input type="text" name="owner"></li>
            <li>Name: <input type="text" name="name"/></li>
            <li><input type="radio" name="type" value="Autobot">Autobot <input type="radio" name="type" value="Decepticon">Decepticon</p></li>
            <li>Home Planet: <input type="text" name="homePlanet"/> </li>
            <li>Attack: <input type="text" name="attack"/></li>
            <li>Health: <input type="text" name="health"/></li>
            <input type="submit" class="btn btn-primary" value="Create"/>
        </ul>
    </form>
</div>
<div class="container">
    <p>Transformers exist: </p>
    <ul id="transformers"></ul>
</div>
<script>

    //let Transformer = require("models/transformer").Transformer;


    function Transformer(owner, name, planet, health, attack, type) {
        this.owner = owner;
        this.name = name;
        this.homePlanet = planet;
        this.health = health;
        this.attack  = attack;
        this.type = type;
    };

    publish.onsubmit=function () {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/publish", true);
        let inputData = {
            owner: this.elements.owner.value,
            name: this.elements.name.value,
            type: this.elements.type.value,
            home_planet: this.elements.homePlanet.value,
            attack: this.elements.attack.value,
            health: this.elements.health.value
        };
//        newTransformer.save(function (err, newTransformer, affected) {
//            console.log(arguments);
//        });
        let newTransformer = new Transformer(inputData.owner, inputData.name, inputData.home_planet, inputData.attack, inputData.health, inputData.type);
        xhr.send(JSON.stringify(newTransformer));
        this.elements.owner.value = "";
        this.elements.name.value =  "";
        this.elements.type.value =  "";
        this.elements.homePlanet.value =  "";
        this.elements.attack.value =  "";
        this.elements.health.value =  "";
        return false;
    };

    subscribe();

    function subscribe() {
        let xhr = new XMLHttpRequest();

        xhr.open("GET", "subscribe", true);

        xhr.onload = function () {
            let li = document.createElement("li");
            li.textContent = this.responseText;
            transformers.appendChild(li);

            subscribe();
        };

        xhr.onerror = xhr.onabort = function () {
            setTimeout(subscribe, 500);
        };

        xhr.send('');
    }

</script>