<% layout('/layout/page')%>
<% block('title', 'creation')%>

<div class="container">
    <p>Create your own transformer, <%=user.get('username')%>!</p>

    <form id="create" class="form-inline" action="/create">
        <ul>
            <li>Owner (enter your name): <input type="text" name="owner"></li>
            <li>Name: <input type="text" name="name"/></li>
            <li><input type="radio" name="type" value="Autobot">Autobot <input type="radio" name="type" value="Decepticon">Decepticon</p></li>
            <li>Home Planet: <input type="text" name="homePlanet"/> </li>
            <li>Attack: <input type="text" name="attack"/></li>
            <li>Health: <input type="text" name="health"/></li>
            <input type="submit" class="btn btn-primary" value="Create"/>
        </ul>
    </form>
</div>

<script>
//    create.onsubmit = function () {
//        let xhr = new XMLHttpRequest();
//        xhr.open('GET', '/create', true);
//        xhr.send();
//    }
</script>