<% layout('/layout/page')%>
<% block('title', data.name)%>
<link href="css/logo-nav.css" rel="stylesheet">

    <div class="container">
        <p>NAME: <%= data.name %> </p>
        <p>OWNER: <%= data.owner %> </p>
    </div>
